[submodule "repo"]
	path = insert/repo
	url = https://github.com/algovenus/repo
	branch = dev
[submodule "insert/api"]
	path = insert/api
	url = https://github.com/algovenus/api
[submodule "insert/dep"]
	path = insert/dep
	url = https://github.com/notion-enhancer/dep
[submodule "insert/media"]
	path = insert/media
	url = https://github.com/notion-enhancer/media
